body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #FFFFFF; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="checkbox"], select {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.7 7.7L10 15l7.3-7.3c.6-.6.6-1.5 0-2.1-.6-.6-1.5-.6-2.1 0L10 10.9l-5.2-5.2c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1z" fill="%23333"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
}

#resultado p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}
